body{
	background-color: #96D8FF;
	margin: 0 0 0 0;
}

.wait{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;
	color:red;
}
/*header*/
header{
	background-color: white;

}
div.header{ 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	color: white;
	margin:-17px 3% 0 2%;
	z-index: 0;
	float:left;
}
ul.header{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	z-index: 1;
	height: 100%;
}
li.header{
	list-style-type: none;
	margin-right: 25px;
	z-index: 2;
}
.header{
	font-family: 'Source Sans Pro', sans-serif;
	color:white;
	z-index: 3;
}

.line{
	height:5px;
	background-color: black;
	display:block;
	bottom:0;
	width:100%;
	margin-top: 2px;
}
/*sky stuff*/
.sky {
		height:165px;
		background:#007fd5;
		position:relative;
		overflow:hidden;
		z-index: 0;
		-webkit-animation:sky_background 50s ease-out infinite;
		-moz-animation:sky_background 50s ease-out infinite;
		-o-animation:sky_background 50s ease-out infinite;
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);
		-o-transform:translate3d(0,0,0)
		}
		
		
		.moon {
			background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
			position:absolute;
			left:0;
			height:100%;
			width:300%;
			-webkit-animation:moon 50s linear infinite;
			-moz-animation:moon 50s linear infinite;
			-o-animation:moon 50s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		
		.clouds_one {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_one 50s linear infinite;
			-moz-animation:cloud_one 50s linear infinite;
			-o-animation:cloud_one 50s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_two {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_two 75s linear infinite;
			-moz-animation:cloud_two 75s linear infinite;
			-o-animation:cloud_two 75s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_three {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_three 100s linear infinite;
			-moz-animation:cloud_three 100s linear infinite;
			-o-animation:cloud_three 100s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		@-webkit-keyframes sky_background {
			0% {
				background:#007fd5;
				color:#007fd5
			}
			
			50% {
				background:#000;
				color:#a3d9ff
			}
			
			100% {
				background:#007fd5;
				color:#007fd5
			}
		}
		
		@-webkit-keyframes moon {
			0% {
				opacity: 0;
				left:-200%
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
			
			50% {
				opacity: 1;
				-moz-transform: scale(1);
				left:0%
				bottom:250px;
  				-webkit-transform: scale(1);
			}
		
			100% {
				opacity: 0;
				bottom:500px;
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
		}
		
		@-webkit-keyframes cloud_one {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-webkit-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-webkit-keyframes cloud_three {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes sky_background {
			0% {
				background:#007fd5;
				color:#007fd5
			}
			
			50% {
				background:#000;
				color:#a3d9ff
			}
			
			100% {
				background:#007fd5;
				color:#007fd5
			}
		}
		
		@-moz-keyframes moon {
			0% {
				opacity: 0;
				left:-200%
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
			
			50% {
				opacity: 1;
				-moz-transform: scale(1);
				left:0%
				bottom:250px;
  				-webkit-transform: scale(1);
			}
		
			100% {
				opacity: 0;
				bottom:500px;
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
		}
		
		@-moz-keyframes cloud_one {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_three {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}

/* main page */
.flex{
	display: flex;
	justify-content:flex-end;
	flex-direction:row-reverse;
}

.stuff{
	margin: 0 10px 0 65px;
}

.name{
	font-size: 55px;
	margin: 2% 0 0 3%;
	font-family: 'Source Sans Pro', sans-serif;
}

.me{
	flex-direction:column;
	margin:2% 3%;
}

.about{
	font-size: 22px;
	margin: 2% 0 0 3%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.rock{
	width: 100%;
}

.title{
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: italic;
	margin: 2% 0 0 3%;
}

.posts{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2% 0 0 3%;
}


/* blog site*/
.post{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 3% 2% 0 2%;
	text-align: center;
}

.date{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	text-align: center;

}

.blog{
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin: 2% 15%;
}

/*blog history*/
div#blog1{
	display: none;
}
div#blog2{
	display: none;
}
div#blog3{
	display: none;
}

.left{
	position:absolute;
    width: 15%;
}

.list{
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: underline;
	font-size: 20px;
	margin: 2% 0 0 0;
}
.list:hover{
	color: #909090;
}
