body{
	background-color: #96D8FF;
	margin: 0 0 0 0;
}

.wait{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;
	color:red;
}
/*header*/
header{
	background-color: black;
	padding: 10px 0 10px 0;
}
div.header{ 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	color: white;
	margin:-17px 3% 0 2%;
	z-index: 0;
	float:left;
}
ul.header{
	display:flex;
	justify-content:flex-end;
}
li.header{
	list-style-type: none;
	margin-right: 25px;
}
.header{
	color:white;
}

.line{
	height:5px;
	background-color: white;
	display:block;
	bottom:0;
	width:100%;
	margin-top: 2px;
}

/* main page */
.flex{
	display: flex;
	justify-content:flex-end;
	flex-direction:row-reverse;
}

.stuff{
	margin: 0 10px 0 65px;
}

.name{
	font-size: 55px;
	margin: 2% 0 0 3%;
	font-family: 'Source Sans Pro', sans-serif;
}

.me{
	flex-direction:column;
	margin:2% 3%;
}

.about{
	font-size: 22px;
	margin: 2% 0 0 3%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.rock{
	width: 100%;
}

.title{
	font-size: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: italic;
	margin: 2% 0 0 3%;
}

.posts{
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2% 0 0 3%;
}


/* blog site*/
.post{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 3% 2% 0 2%;
	text-align: center;
}

.date{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	text-align: center;

}

.blog{
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin: 2% 15%;
}

/*blog history*/
div#blog1{
	display: none;
}
div#blog2{
	display: none;
}
div#blog3{
	display: none;
}

.left{
	position:absolute;
    width: 15%;
}

.list{
	text-decoration: underline;
	font-size: 20px;
	margin: 2% 0 0 0;
}
.list:hover{
	color: #909090;
}
